{{>header cookies=cookies}}
    <div class="chapter">
        <div class="chapter--header">
            <div class="chapter--header__menu">
                <i class="fa-solid fa-caret-left" id="backchap" onclick="unchap()"></i>
                <select id="listselectchap">
                    {{#each chapter.listchap}}
                    {{#with this}}
                        <option value="/comic/chapterapi/{{id}}">{{name}}</option>
                     {{/with}}
                    {{/each}}
                </select>
                <i class="fa-solid fa-caret-right" id="nextchap" onclick="nextchap()"></i>
            </div>
            <div class="chapter--header__list">
                <div class="chapterid" value="{{chapter.id}}"></div>
                <div class="chaptertoken" value="{{token}}"></div>
                {{#each chapter.uri}}
                    <div class="chapter--header__item">
                        <img class="item" src="/public/image/chapter/{{../chapter.id}}/{{this}}" alt="">
                    </div>
                {{/each}}
            </div>
           <div class="comic-comment">
           <div class="comment-form">
                <div>
                    <textarea id="maincontent-cmt" wrap="hard"></textarea>
                   <div>
                     <button onclick="sendcommentchapter('{{chapter.topiccomment_id}}',null,false)">Gửi</button>
                   </div>
                </div>
           </div>
           <div class="comment-list">
                {{#each comment}}               
                <div class="comment-item">
                    <div class="comment-item__avt">
                        <img src="../../../public/image/avatar/{{this.avatar}}" alt="">
                    </div>
                    <div class="comment-item__content">
                        <div class="content_name">
                            <p>{{this.username}}<span>{{this.timecmt}}</span></p>
                        </div>
                        <div class="content_cmt">
                            <p>{{this.content}}</p>
                        </div>
                         <div class="content_rep">
                            <button onclick="showreply('rep-{{this.id}}')">Trả lời</button>
                        </div>
                        <div class="reply" id="rep-{{this.id}}">
                            <div class="rep-comment">
                                    <textarea id="maincontent-{{this.id}}" wrap="hard"></textarea>
                                <div>
                                    <button onclick="sendcommentchapter('{{../chapter.topiccomment_id}}',{{this.id}},true)">Gửi</button>
                                </div>
                            </div>
                        </div>
                        <div class="repcmtlist" id="repcmtlist-{{this.id}}">
                            {{#each ../repcomment}}
                             {{#same this.parent_id ../this.id}}
                            <div class="repcmt--item">
                                <div class="comment-item__avt">
                                    <img src="../../../public/image/avatar/{{this.avatar}}" alt="">
                                </div>
                                <div class="comment-item__content">
                                    <div class="content_name">
                                        <p>{{this.username}}<span>{{this.timecmt}}</span></p>
                                    </div>
                                    <div class="content_cmt">
                                        <p>{{this.content}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/same}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                 {{/each}}
           </div>
        </div>
        </div>
        </div>
        
    </div>
    {{>footer}}
    {{>script}}
    <script>
        const select = document.getElementById('listselectchap');
        var numchap = select.length
        if(select.selectedIndex==0){
             document.getElementById("backchap").style.backgroundColor = "rgb(98 86 86)"
        }
        if(select.selectedIndex==numchap-1){
             document.getElementById("nextchap").style.backgroundColor = "rgb(98 86 86)"
        }

        select.addEventListener('change', function handleChange(event) {
         changechap()

        })

        function nextchap(){
            if(select.selectedIndex < numchap-1){
                select.selectedIndex++
                document.getElementById("backchap").style.backgroundColor = "rgb(0, 176, 9)"
                changechap()
            }else{
                document.getElementById("nextchap").style.backgroundColor = "rgb(98 86 86)"
                
            }
        }

        function unchap(){
            if(select.selectedIndex >0){
                select.selectedIndex--
                document.getElementById("nextchap").style.backgroundColor = "rgb(0, 176, 9)"
                changechap()
            }else{
                document.getElementById("backchap").style.backgroundColor = "rgb(98 86 86)"
                
            }
        }
        function changechap(){
             $.ajax({
                type: "GET",
                url: select.value,
                success: function(data) {  
                    window.scrollTo(0,0)
                    document.querySelector(".chapter--header__list").innerHTML = data
                    changeidchapter()

                }
            })        
        }
        changeidchapter()
    </script>
