
        <div class="seachcategory">
            <div class="seachcategory--name">
                <span>Thể Loại: </span>
                <i>{{infotag.tagname}}</i>
            </div>
            <div class="seachcategory--info">
                <p>{{infotag.taginf}}</p>
            </div>
        </div>
        <div class="body">
            <div class="body--container row">
                <div class="body--container__listcomic l-8">
                    <div class="listcomic--main">
                        <div class="listcomic grid row">
                            {{#each comics}}
                            <div class="listcomic--item l-3 m-3 c-4">
                                <div class="item">
                                    <div class="item--top">
                                        <div class="item--top__img">
                                            <a href="/comic/{{id}}"><img src="/public/image/comic/{{image}}" alt=""></a>
                                        </div>
                                        <div class="iteam--top__info">
                                            <span>
                                                <i>
                                                    <i class="fa-solid fa-eye"></i>
                                                    <span>{{this.views}}</span>
                                                </i>
                                                <i>
                                                    <i class="fa-solid fa-comment"></i>
                                                    <span>500k</span>
                                                </i>
                                                <i>
                                                    <i class="fa-solid fa-heart"></i>
                                                    <span>500k</span>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item--bottom">
                                        <div class="item--bottom__name">
                                            <a>{{this.name}}</a>
                                        </div>
                                        <div class="item--bottom__listchapter">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}   
                        </div>
                    </div>
                    <div class="listcomic--footer">
                        <div class="listcomic--page">
                            <ul class="list--page" id="list--pagetag">
                                
{{!--                                
                                <li class="page"><i class="fa-solid fa-angle-right"></i></li>
                                <li class="page"><i class="fa-solid fa-angles-right"></i></li> --}}
                            </ul>
                            <div class="anotherpage" id="showanotherpage">
                                <p>Nhập trang muốn tele</p> 
                                <div>
                                    <input type='text' id='pageInput'/>
                                    <button id="changepage">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body--container__pullright l-4">
             
                    <div class="pullright--topcomic">
                        <div class="topcomic--header">
                            <div class="topcomic--month">
                                <a href="">Top: action</a>
                            </div>
                        </div>
                        <div class="topcomic--list">
                            <ul>
                                 {{#each comicstop}}
                                <li class="topcomic--item">
                                    <div class="topcomic--item__number">
                                        <span class="topcomicweb">{{indexup @index}}</span>
                                    </div>
                                    <div class="topcomic--item__img">
                                        <a href="/comic/{{this.id}}"><img src="/public/image/comic/{{this.image}}" alt="top truyen"></a>
                                    </div>
                                    <div class="topcomic--item__info">
                                        <a href="/comic/{{this.id}}">{{this.name}}</a>
                                        <div>
                                            {{!-- <a href="">Chapter 126</a> --}}
                                            <i><i class="fa-solid fa-eye"></i>{{this.views}}</i>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
             </div>
            </div>
        </div>
        <script>
            {{#if num}}
               const numpagecategory={{num}}
            {{/if}}
        </script>
